html, body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
*, *:before, *:after
{
    box-sizing: inherit;
}

#container
{
    position: absolute;
    width: 100vw;
    height: 100%;
}




h1, h2, h3, h4, h5, h6
{
    font-family: "PT Sans";
    margin-bottom: 1em;
}

h7
{
    font: normal bold 18pt/1.6em "PT Serif", sans-serif;
}

/*****

    Navigatie

*****/

nav
{
    position: absolute;
    width: 50vw;
    height: 100vh;
    padding: 100px 10vw;
    font: bold normal 24pt/1.4em "PT Sans", sans-serif;
}
nav ul
{
    margin: 0;
    padding: 0;
}
nav ul li
{
    list-style-type: none;
    cursor: pointer;
}

#hoofdstukken
{
    background-color: lightgrey;
    font: normal bold 16pt/1.4 em "PT serif",serif;
    left:0;
    padding-right: 0;
}
#termen
{
    background-color: white;
    font: normal bold 16pt/1.4 em "PT Sans",sans-serif;
    right: 0;
    padding-left: 0;
    text-align: right;
}
/*****

    Hoofdstukken & Voetnoten

*****/


main
{
    position: absolute;
    top: 0;
    left: 50vw;
    background-color: WhiteSmoke;
    margin-left: -10px;
    width: 20px;
    height: 100vh;
    z-index: 10;
}
.main_inner
{
    position: absolute;
    width: 100%;
    margin-left: -15px;
    padding-right: 30px;
    height: 100vh;
    overflow-y: auto;
    z-index: 15;
}

.footnotes
{
    font: normal normal 10pt/1.2em "Courier", serif;
    padding: 20px 7vw;
}


main article
{
    position: absolute;
    top: 0;
    left: 0;
    width: 70vw;
    padding: 50px 10vw;
    font: normal normal 18pt/1.6em "PT Serif", sans-serif;
}


.content
{
    margin-left: 30px;
}

.handle
{
    position: absolute;
    top:0;
    width: 10px;
    height: 100vh;
}

.left
{
    background-color: black;
    left:0;
}
.right
{
    background-color: blue;
    right:0;
}

.vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/*****

    Termen

*****/


.term_wrapper
{
	position:relative;
	z-index:999;
	background-color: WhiteSmoke;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: -1.6em 0 -1.8em;


}
.term_title
{
	font: normal bold 24pt/1.5em "PT Sans", sans-serif;
	margin: 0;
    cursor: pointer;
}

.term_wrapper_inner
{
	overflow-y: auto;
}

.term_content
{
    display: none;
    font: normal normal 24pt/1.5em "PT Serif", serif;
	margin: 0 1.2em;
    height: 300px;
}
.term_content p:last-child
{
    padding-bottom: 2em;
}
.term_content .quote
{
	font-size: 24pt;
	font-style: italic;
	line-height: 1.2;
	margin: 0.2em;
}

.term_content .quote .bron
{
	font-size: 10px;
	line-height: 14px;
	margin: 0.1em;
}
